h3 {
    color: #BF8F73;
}

.fila {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F2D1C9;
    text-decoration: none;
}

.carritoClean{
    color: #BF8F73;
    text-decoration: none;
    margin-top: 3rem;
}

.fullForm {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #BF8F73;
    font-size: 15px;
}

.fullFormDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #BF8F73;
    font-size: 15px;
    padding: 0.1rem;
    margin-top: 3rem;
    border-radius: 10px;

}

.columnDetail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: space-around;
    align-items: space-around;
    color: #BF8F73;
    font-size: 15px;
}

.bordeTablaProductos {
    border-width: 2px;
    border-color: #BF8F73;
    border-style: solid;
    padding: 0.1rem;
    margin: 0.1rem;
    border-radius: 10px;
    text-decoration: none;
}

.btnProducto {
    text-decoration: none;
    color: grey;
    flex: none;
    display: inline-block;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
}

.btnProducto:hover {
    background-color: #BF8F99;
    text-decoration: none;
    color: black;
}
