p {
    
}

.CardItem {
    width: 150px;
    padding: 30px;
    margin: 30px;
    font-size: 10px;
    background-color: papayawhip;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
}

.Header {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 25px;
}

.ItemHeader {
    display: flex;
    justify-content: center;
}

.Info {
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}

.ButtonDetail {
    width: auto;
    padding: 12px;
    font-size: 8px;
    background: #8C30F5;
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
}

.ItemImg {
    object-fit: cover;
    object-position: center;
}

.ItemFooter {
    display: flex;
    justify-content: center;
}

.myButton {
    /* color: #F2D1C9 #8C30F5; */
    text-decoration: none;
    border-radius: 25;
    margin: 0 50px;
    /* TODO */
    width: auto;
    padding: 12px;
    font-size: 1rem;
    /* background: #C4C4C4; */
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000000;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
}

.fila {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F2D1C9;
    text-decoration: none;
}

.bordeTablaProductos {
    border-width: 2px;
    border-color: #BF8F73;
    border-style: solid;
    padding: 0.1rem;
    margin: 0.1rem;
    border-radius: 10px;
    text-decoration: none;
}

.btnProducto {
    text-decoration: none;
    color: grey;
}

.btnProducto:hover {
    background-color: #BF8F99;
    text-decoration: none;
    color: black;
}

.btnProductoVacio {
    background-color: #BF8F99;
    text-decoration: none;
    color: black;
}