.titulo{
    font-size: 25px;
    color: #BF8F73;
}

.subtitulo{
    font-size: 15px;
    color: #BF8F73;
}

.precio {
    color: grey
}

p {
    color: grey
}

.ItemImg {
    object-fit: cover;
    object-position: center;
}

.fila {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F2D1C9;
    text-decoration: none;
}

.bordeTablaProductos {
    border-width: 2px;
    border-color: #BF8F73;
    border-style: solid;
    padding: 0.1rem;
    margin: 0.1rem;
    border-radius: 10px;
    text-decoration: none;
}

.btnProducto {
    text-decoration: none;
    color: grey;
}

.btnProducto:hover {
    background-color: #BF8F99;
    text-decoration: none;
    color: black;
}
