.EstiloCuadroIndividual {
    display: flex;
    flex-direction: column;
    border: 2px;
    margin: 10px;
    width: 250px;
    justify-content: space-around;
    align-items: center;
}

.Info {
    display: flex;
    justify-content: space-around;
    color: grey;
}

.fila {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F2D1C9;
    text-decoration: none;
}

.bordeTablaProductos {
    border-width: 2px;
    border-color: #BF8F73;
    border-style: solid;
    padding: 0.1rem;
    margin: 0.1rem;
    border-radius: 10px;
    text-decoration: none;
}

.btnProducto {
    text-decoration: none;
    color: grey;
}

.btnProducto:hover {
    background-color: #BF8F99;
    text-decoration: none;
    color: black;
}